:root {
    --primary-color: #007BFF;
    --secondary-color: #007BFF;
    --background-color: #f8f8f8;
    --text-color: #333;
    --light-text-color: #666;
    --white: #fff;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.barra-azul {
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
}

.barra-azul-2 {
    width: 50px;
    height: 5px;
    background-color: var(--primary-color);
    margin: 10px auto;
}

/* Geral */
.hero-header {
    background-color: #f5f5f5;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container do conteúdo */
.header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo img {
    max-height: 50px;
    object-fit: contain;
}

/* Botões */
.header-buttons {
    display: flex;
    gap: 15px;
}

.header-buttons .btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-buttons .btn:hover {
    background-color: #0056b3;
}

/* Estilo dos ícones sociais */
.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    /* Espaçamento dos ícones em relação aos botões */
}

.social-icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
    /* Leve aumento ao passar o mouse */
    opacity: 0.8;
}
.botao {
    background-color: #fff;
    /* Cor do botão */
    color: #4a90e2;
    /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
    background-color: #4a90e2;
    /* Cor do botão ao passar o mouse */
    color: white;
    /* Cor do texto ao passar o mouse */
    transform: scale(1.05);
    /* Efeito de aumento ao passar o mouse */
}

.social-icons {
    display: flex;
    justify-content: center;
    /* Centraliza os ícones */
    margin-top: 20px;
    /* Espaçamento acima dos ícones */
}

.social-icon {
    margin: 0 10px;
    /* Espaçamento entre os ícones */
}

.social-icon img {
    width: 30px;
    /* Tamanho dos ícones */
    height: 30px;
    /* Tamanho dos ícones */
    transition: transform 0.3s;
    /* Efeito de transição ao passar o mouse */
}

.social-icon img:hover {
    transform: scale(1.1);
    /* Aumenta o ícone ao passar o mouse */
}

/*---------------- CSS Específico para Sobre Mim ----------------*/
.sobre-mim {
    background-image: url('/assets/Images/teclado.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.sobre-mim::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
}

.descricao-pessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--white);
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.descricao-pessoal h2 {
    font-size: 1.8rem;
}

.descricao-pessoal p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 700px;
}

/*---------------- CSS Específico para Habilidades ----------------*/
.habilidades {
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.habilidades .cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Alinha os itens ao topo */
    gap: 30px;
    flex-wrap: wrap;
}

.card-habilidades {
    background-color: var(--white);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-habilidades:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-habilidades h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card-habilidades p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    padding-top: 5px;
}

/*---------------- CSS Específico para Certificados ----------------*/
.certificados {
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.certificados .certificados-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-certificados {
    background-color: var(--white);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-certificados:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-certificados h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.card-certificados p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 20px;
}

.card-certificados .btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.card-certificados .btn {
    padding: 10px 20px;
    /* Tamanho do botão */
    border: none;
    border-radius: 5px;
    /* Bordas arredondadas */
    font-size: 1rem;
    color: #fff;
    /* Cor do texto */
    text-decoration: none;
    /* Remove o sublinhado */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transições suaves */
}

.card-certificados .btn-primary {
    background-color: var(--primary -color);
    /* Cor de fundo do botão primário */
}

.card-certificados .btn-secondary {
    background-color: #6c757d;
    /* Cor de fundo do botão secundário */
}

.card-certificados .btn-primary:hover {
    background-color: #0056b3;
    /* Cor de fundo ao passar o mouse */
    transform: scale(1.05);
    /* Efeito de aumento ao passar o mouse */
}

.card-certificados .btn-secondary:hover {
    background-color: #5a6268;
    /* Cor de fundo ao passar o mouse */
    transform: scale(1.05);
    /* Efeito de aumento ao passar o mouse */
}

/*---------------- CSS Específico para contatos ----------------*/

.contatos {
    padding: 2rem;
    background-color: var(--background-color);
}

.formulario {
    flex: 1;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.formulario label {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.formulario input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/*---------------- CSS Específico para footer ----------------*/
footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-size: 1rem;
}

footer p {
    margin: 0;
}