:root {
    --primary-color: #007BFF;
    --background-color: #f8f8f8;
    --text-color: #333;
    --white: #fff;
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    padding-top: 80px;
}

.custom-menu {
    background-color: var(--primary-color);
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.nav-link {
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--text-color) !important;
}

.barra-azul {
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

.barra-azul-2 {
    width: 20%;
    height: 5px;
    background-color: var(--primary-color);
}

.projetos {
    position: relative;
    background: url('/assets/Images/software-developer.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 50px 0;
}

.project-intro h1 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

.project-intro p {
    font-size: 1.6rem;
    color: var(--text-color);
}

#mainCarousel {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
}

.carousel-inner img {
    height: 600px;
    object-fit: contain;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.project-details {
    background-color: var(--white);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.project-details .close-btn {
    cursor: pointer;
    font-size: 2rem;
    color: var(--primary-color);
}

#projectModalCarousel .carousel-inner img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-small);
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 400px;
    }
}

/* Estilos para Tela 4K */
@media (min-width: 2560px) and (min-height: 2100px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .carousel-inner img {
        height: 800px;
    }
}

/* Espaço extra para completar a tela */
.project-intro {
    margin-bottom: 3rem;
    text-align: center;
}