:root {
    --primary-color: #007BFF;
    --text-color: #333;
    --white: #fff;
    --font-size-base: 16px;
    --font-size-small: 1rem;
    --border-radius: 8px;
    --background-color: #f8f8f8;
    --light-text-color: #666;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size-base);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #e6e6e6, #ffffff);
}

.navbar {
    background-color: var(--primary-color);
    padding: 0.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

a.navbar-brand {
    margin: 0;
}

.navbar-brand img {
    width: 30%;
    height: auto;
}

.barra-azul {
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

.sobre-mim {
    position: relative;
    height: 91vh;
    background: url('/assets/Images/software-developer.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.animated-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 1;
    animation: overlayPulse 10s infinite alternate;
}

@keyframes overlayPulse {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 0.6;
    }
}

.card-sobre-mim {
    position: relative;
    z-index: 2;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 1000px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-image {
    flex: 1;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.profile-image:hover img {
    transform: scale(1.1);
}

.profile-details {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-details h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    opacity: 0;
    animation: fadeInText 1s ease 0.5s forwards;
}

.profile-details p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--text-color);
    opacity: 0;
    animation: fadeInText 1s ease 0.7s forwards;
}

.btn-contact {
    align-self: flex-start;
    padding: 15px 30px;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0;
    animation: fadeInText 1s ease 0.9s forwards;
}

.btn-contact:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.habilidades,
.certificados {
    padding: 2rem;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card-habilidades,
.card-certificados,
.card-formacao {
    background-color: var(--white);
    border-radius: var(--border-radius);
    text-align: center;
    width: 100%;
    max-width: 800px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto;
}

.card-habilidades h3,
.card-certificados h3 {
    font-size: 1.7rem;
    color: var(--primary-color);
    margin: 5px 0;
}

.card-habilidades p,
.card-certificados p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: var (--text-color);
    padding-top: 5px;
}

.card-formacao:hover,
.card-habilidades:hover,
.card-certificados:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M4.854 0.146a.5.5 0 010 .708L1.707 4l3.147 3.146a.5.5 0 01-.708.708l-3.5-3.5a.5.5 0 010-.708l3.5-3.5a.5.5 0 01.708 0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M3.146 0.146a.5.5 0 000 .708L6.293 4 3.146 7.146a.5.5 0 10.708.708l3.5-3.5a.5.5 0 000-.708l-3.5-3.5a.5.5 0 00-.708 0z'/%3E%3C/svg%3E");
}

.formacao {
    padding: 2rem 0;
    text-align: center;
}

.card-formacao h3 {
    font-size: 1.7rem;
    color: var(--primary-color);
    margin: 5px 0;
}

.card-formacao p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--text-color);
    padding-top: 5px;
}

.projetos {
    position: relative;
    background: url('/assets/Images/network.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 50px;
}

.projetos .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.projetos .content {
    position: relative;
    z-index: 2;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.projetos h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.projetos p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.projetos .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
}

.projetos .btn:hover {
    background-color: #0056b3;
}

.contatos {
    padding: 40px 0;
    background-color: var(--background-color);
}

.contato-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.informacoes {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.formulario {
    flex: 1;
    padding: 30px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
}

.email-contatos ul {
    list-style: none;
    padding: 0;
}

.email-contatos li {
    margin: 10px 0;
}

.email-contatos a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.email-contatos a:hover {
    color: var(--primary-color);
}

.email-contatos img {
    margin-right: 10px;
    width: 30px;
}

.formulario h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--primary-color);
}

.formulario label {
    font-size: 1.1rem;
    color: var(--text-color);
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--light-text-color);
    border-radius: var(--border-radius);
}

.formulario button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario button:hover {
    background-color: #0056b3;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-small);
}

footer p {
    margin: 0;
}

/* Media Queries */
@media (min-width: 2560px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .sobre-mim {
        height: auto;
        padding: 40px;
        padding-top: 120px;
    }

    .card-sobre-mim {
        max-width: 1920px;
        margin: 0;
    }

    .habilidades h1,
    .certificados h1 {
        font-size: 3.5rem;
    }

    .projetos h1 {
        font-size: 3.5rem;
    }

    .projetos p {
        font-size: 2rem;
    }

    .projetos .content {
        max-width: 1800px;
    }

    .projetos .btn {
        margin: 10px auto;
        padding: 15px 25px;
        font-size: 1.8rem;
    }

    .navbar-brand img {
        width: 120px;
    }

    .card-habilidades h3,
    .card-certificados h3,
    .card-formacao h3 {
        font-size: 2rem;
    }

    .card-habilidades,
    .card-certificados,
    .card-formacao {
        min-height: 400px;
        max-width: 1000px;
    }

    .contatos h1 {
        font-size: 3.5rem;
    }

    .contatos p {
        font-size: 2rem;
    }


    .social-icon img {
        width: 100px;
        height: 100px;
    }

    .email-contatos h2 {
        font-size: 3rem;
    }

    .email-contatos a {
        font-size: 2rem;
    }

    footer {
        font-size: 1.6rem;
        padding: 20px;
    }
}

@media (max-width: 1920px) {

    .card-habilidades,
    .card-certificados,
    .card-formacao {
        min-height: 300px;
    }

    .contatos h2 {
        font-size: 2rem;
    }

    .contatos p {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 1440px) {
    .sobre-mim {
        height: auto;
        padding: 10px;
        padding-top: 90px;
    }

    .profile-details h1 {
        font-size: 3rem;
    }

    .profile-details p {
        font-size: 1.2rem;
    }

    .btn-contact {
        margin: 10px auto;
        padding: 15px 20px;
        font-size: 1rem;
    }

    .card-habilidades,
    .card-certificados {
        min-height: 300px;
    }

    .card-habilidades h3,
    .card-certificados h3,
    .card-formacao h3 {
        font-size: 1.5rem;
    }

    .card-habilidades p,
    .card-certificados p,
    .card-formacao p {
        font-size: 1rem;
    }

    .contatos h2 {
        font-size: 2.5rem;
    }

    .contatos p {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1rem;
    }

    .email-contatos ul {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .card-sobre-mim {
        max-width: 90%;
        margin: 20px auto;
    }

    .sobre-mim {
        height: auto;
        padding: 10px;
        padding-top: 90px;
    }

    .profile-details h1 {
        font-size: 1.5rem;
    }

    .profile-details p {
        font-size: 1rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .btn-contact {
        margin: 10px auto;
        padding: 10px 15px;
        font-size: 1rem;
    }

    .contatos h2 {
        font-size: 2rem;
    }

    .contatos p {
        font-size: 1rem;
    }

    .email-contatos ul {
        font-size: 1rem;
    }

    .contato-container {
        flex-direction: column;
        padding: 20px;
    }

    .informacoes {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .formulario {
        padding: 20px;
    }

    .email-contatos ul {
        display: inline-block;
        justify-content: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .sobre-mim {
        height: auto;
        padding: 10px;
    }

    .card-sobre-mim {
        flex-direction: column;
        width: 100%;
        margin: 90px auto;
    }

    .profile-details {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .profile-details h1 {
        font-size: 1.8rem;
    }

    .profile-details p {
        font-size: 1rem;
    }

    .projetos h1 {
        font-size: 1.8rem;
    }

    .projetos p {
        font-size: 1rem;
    }

    .btn-contact {
        margin: 20px auto;
        padding: 15px 25px;
        font-size: 0.9rem;
    }

    .btn-container {
        display: flex;
        font-size: 0.1rem;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .btn-container a {
        display: flex;
        font-size: 0.6rem;
    }

    .projetos .btn {
        margin: 10px auto;
        padding: 10px 15px;
        font-size: 0.9rem;
    }

    .card-certificados,
    .card-formacao {
        min-height: 200px;
    }

    .email-contatos ul li a {
        font-size: 0.8rem;
    }

    .email-contatos ul li img {
        width: 35px;
        padding-right: 10px;
    }

    .email-contatos ul {
        display: inline-block;
        justify-content: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .social-icons {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .contato-container {
        padding: 10px;
    }

    .informacoes {
        margin-bottom: 10px;
    }

    .formulario {
        padding: 10px;
    }
}