:root {
    --primary-color: #007BFF;
    --secondary-color: #6c757d;
    --background-color: #f8f8f8;
    --text-color: #333;
    --light-text-color: #666;
    --white: #fff;
    --black: #000;
    --font-size-base: 16px;
    --font-size-large: 2rem;
    --font-size-medium: 1.4rem;
    --font-size-small: 1rem;
    --border-radius: 8px;
}

/* ========================= */
/* Estilos Globais */
/* ========================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size-base);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

/* ========================= */
/* Estilos da Navbar e Barras */
/* ========================= */
.barra-azul {
    width: 100%;
    height: 15px;
    background-color: var(--primary-color);
}

.barra-azul-2 {
    width: 20%;
    height: 5px;
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-color);
    padding: 1.5rem;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.nav-link {
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--text-color) !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

/* ========================= */
/* Estilos da Seção Sobre Mim */
/* ========================= */
.sobre-mim {
    background-image: url('/src/assets/Images/teclado.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.sobre-mim::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.foto {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10%;
    border: 5px solid var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 2;
}

.descricao-pessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--white);
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.descricao-pessoal h2 {
    font-size: 6rem;
}

.descricao-pessoal p {
    font-size: 2.2rem;
    line-height: 1.6;
    max-width: 80%;
}

/* ========================= */
/* Estilos de Habilidades e Certificados */
/* ========================= */
.habilidades,
.certificados {
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.habilidades .cards-container,
.certificados .certificados-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card-habilidades,
.card-certificados {
    background-color: var(--white);
    border-radius: var(--border-radius);
    text-align: center;
    width: 100%;
    max-width: 800px;
    min-height: 250px;
    /* Defina uma altura mínima para os cards */
    display: flex;
    flex-direction: column;
    /* Certifique-se de que o card é uma coluna */
    justify-content: center;
    /* Isso ajuda a distribuir o espaço */
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.card-habilidades h3,
.card-certificados h3 {
    font-size: 1.7rem;
    color: var(--primary-color);
    margin: 5px 0;
}

.card-habilidades p,
.card-certificados p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--text-color);
    margin: 0;
    padding-top: 5px;
}

.card-habilidades:hover,
.card-certificados:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* ========================= */
/* Estilos de Contato e Formulário */
/* ========================= */
.contatos {
    padding: 2rem;
    background-color: var(--background-color);
}

.informacoes h2 {
    font-size: var(--font-size-large);
    color: var(--text-color);
    margin-bottom: 15px;
    font-weight: bold;
}

.informacoes p {
    font-size: var(--font-size-small);
    color: var(--light-text-color);
    margin-bottom: 30px;
    line-height: 1.6;
}

/* ========================= */
/* Estilos de Ícones Sociais */
/* ========================= */
.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
}

/* ========================= */
/* Estilos do Botão */
/* ========================= */
.botao {
    background-color: #4a90e2;
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-small);
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
    background-color: #0056b3;
    color: white;
    transform: scale(1.05);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    /* Espaçamento entre os botões */
    max-width: 100%;
    /* Garante que a largura máxima seja 100% */
    margin-top: auto;
    /* Empurra a btn-container para o fundo do card */
}

.btn-container .btn {
    flex: 1;
    /* Permite que os botões ocupem o espaço disponível */
    max-width: 100px;
    /* Ajuste o tamanho máximo dos botões */
    padding: 5px 10px;
    /* Reduzido para um tamanho mais confortável */
    font-size: 0.9rem;
    /* Ajuste o tamanho da fonte para telas pequenas */
    text-align: center;
}

/* ========================= */
/* Estilos do Rodapé */
/* ========================= */
footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-small);
}

footer p {
    margin: 0;
}

/* ========================= */
/* Media Queries */
/* ========================= */

@media (max-width: 2560px) {
    .descricao-pessoal h2 {
        font-size: 10rem;
    }

    .descricao-pessoal p {
        font-size: 1.0rem;
        line-height: 1.5;
        max-width: 70%;
    }

    .card-habilidades h3,
    .card-certificados h3 {
        font-size: 1.4rem;
    }

    .card-habilidades p,
    .card-certificados p {
        font-size: 0.9rem;
    }

    .foto {
        max-width: 300px;
    }

    .foto-container {
        max-width: 290px;
    }

}

@media (max-width: 1920px) {
    .barra-azul-2 {
        width: 50%;
    }

    .sobre-mim {
        height: 90.3vh;
    }

    .descricao-pessoal h2 {
        font-size: 3rem;
    }

    .descricao-pessoal p {
        font-size: 1.2rem;
    }

    .card-habilidades,
    .card-certificados {
        background-color: var(--white);
        border-radius: var(--border-radius);
        text-align: center;
        width: 100%;
        max-width: 100%;
        /* Ajuste para ocupar 100% da largura disponível */
        min-height: 300px;
        /* Defina uma altura mínima para os cards */
        display: flex;
        flex-direction: column;
        /* Certifique-se de que o card é uma coluna */
        justify-content: center;
        /* Isso ajuda a distribuir o espaço */
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0 auto;
    }

    .card-habilidades h3,
    .card-certificados h3 {
        font-size: 1.5rem;
        /* Ajuste o tamanho da fonte se necessário */
        color: var(--primary-color);
        margin: 5px 0;
    }

    .card-habilidades p,
    .card-certificados p {
        font-size: 1rem;
        /* Ajuste o tamanho da fonte se necessário */
        line-height: 1.4;
        color: var(--text-color);
        margin: 0;
        padding-top: 5px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
        /* Espaçamento entre os botões */
        max-width: 100%;
        /* Garante que a largura máxima seja 100% */
        margin-top: 10px;
        /* Empurra a btn-container para o fundo do card */
    }

    .btn-container .btn {
        max-width: 120px;
        /* Reduz o tamanho máximo dos botões */
        padding: 5px;
        /* Ajuste o padding se necessário */
        font-size: 0.8rem;
        /* Ajuste o tamanho da fonte se necessário */
    }

    .foto {
        max-width: 200px;
    }

    .foto-container {
        max-width: 190px;
    }
}

@media (max-width: 1440px) {
    .barra-azul-2 {
        width: 50%;
    }

    .sobre-mim {
        height: 90.3vh;
    }

    .descricao-pessoal h2 {
        font-size: 3rem;
    }

    .descricao-pessoal p {
        font-size: 1.2rem;
    }

    .card-habilidades,
    .card-certificados {
        background-color: var(--white);
        border-radius: var(--border-radius);
        text-align: center;
        width: 100%;
        max-width: 100%;
        /* Ajuste para ocupar 100% da largura disponível */
        min-height: 300px;
        /* Defina uma altura mínima para os cards */
        display: flex;
        flex-direction: column;
        /* Certifique-se de que o card é uma coluna */
        justify-content: center;
        /* Isso ajuda a distribuir o espaço */
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0 auto;
    }

    .card-habilidades h3,
    .card-certificados h3 {
        font-size: 1.5rem;
        /* Ajuste o tamanho da fonte se necessário */
        color: var(--primary-color);
        margin: 5px 0;
    }

    .card-habilidades p,
    .card-certificados p {
        font-size: 1rem;
        /* Ajuste o tamanho da fonte se necessário */
        line-height: 1.4;
        color: var(--text-color);
        margin: 0;
        padding-top: 5px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
        /* Espaçamento entre os botões */
        max-width: 100%;
        /* Garante que a largura máxima seja 100% */
        margin-top: 10px;
        /* Empurra a btn-container para o fundo do card */
    }

    .btn-container .btn {
        max-width: 120px;
        /* Reduz o tamanho máximo dos botões */
        padding: 5px;
        /* Ajuste o padding se necessário */
        font-size: 0.8rem;
        /* Ajuste o tamanho da fonte se necessário */
    }

    .foto {
        max-width: 200px;
    }

    .foto-container {
        max-width: 190px;
    }
}

@media (max-width: 768px) {
    .barra-azul-2 {
        width: 50%;
    }

    .sobre-mim {
        height: 90.3vh;
    }

    .descricao-pessoal h2 {
        font-size: 3rem;
    }

    .descricao-pessoal p {
        font-size: 1.2rem;
    }

    .card-habilidades,
    .card-certificados {
        background-color: var(--white);
        border-radius: var(--border-radius);
        text-align: center;
        width: 100%;
        max-width: 100%;
        /* Ajuste para ocupar 100% da largura disponível */
        min-height: 300px;
        /* Defina uma altura mínima para os cards */
        display: flex;
        flex-direction: column;
        /* Certifique-se de que o card é uma coluna */
        justify-content: center;
        /* Isso ajuda a distribuir o espaço */
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0 auto;
    }

    .card-habilidades h3,
    .card-certificados h3 {
        font-size: 1.5rem;
        /* Ajuste o tamanho da fonte se necessário */
        color: var(--primary-color);
        margin: 5px 0;
    }

    .card-habilidades p,
    .card-certificados p {
        font-size: 1rem;
        /* Ajuste o tamanho da fonte se necessário */
        line-height: 1.4;
        color: var(--text-color);
        margin: 0;
        padding-top: 5px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
        /* Espaçamento entre os botões */
        max-width: 100%;
        /* Garante que a largura máxima seja 100% */
        margin-top: 10px;
        /* Empurra a btn-container para o fundo do card */
    }

    .btn-container .btn {
        max-width: 120px;
        /* Reduz o tamanho máximo dos botões */
        padding: 5px;
        /* Ajuste o padding se necessário */
        font-size: 0.8rem;
        /* Ajuste o tamanho da fonte se necessário */
    }

    .foto {
        max-width: 200px;
    }

    .foto-container {
        max-width: 190px;
    }
}

@media (max-width: 480px) {
    .barra-azul-2 {
        width: 60%;
    }

    .sobre-mim {
        height: 91vh;
    }

    .foto {
        max-width: 290px;
    }

    .descricao-pessoal h2 {
        font-size: 1.9rem;
        max-width: 100%;
    }

    .descricao-pessoal p {
        font-size: 1.0rem;
        line-height: 1.5;
        max-width: 100%;
    }

    .card-certificados {
        min-height: 200px;
        /* Ajuste a altura mínima para telas muito pequenas */
    }

    .btn-container {
        display: flex;
        /* Certifique-se de que o display é flex */
        justify-content: center;
        /* Centraliza os botões */
        align-items: center;
        /* Alinha os botões verticalmente */
        padding-top: 10px;
        gap: 10px;
        /* Espaçamento entre os botões */
        max-width: 100%;
        /* Garante que a largura máxima seja 100% */
        margin-top: 10px;
        /* Empurra a btn-container para o fundo do card */
    }

    .btn-container .btn {
        max-width: 100%;
        /* Permite que os botões ocupem 100% da largura disponível */
        padding: 5px;
        /* Ajuste o padding se necessário */
        font-size: 0.7rem;
        /* Ajuste o tamanho da fonte se necessário */
    }
}