:root {
    --primary-color: #007BFF;
    --secondary-color: #6c757d;
    --background-color: #f8f8f8;
    --text-color: #333;
    --light-text-color: #666;
    --white: #fff;
    --black: #000;
    --font-size-base: 16px;
    --font-size-large: 2rem;
    --font-size-medium: 1.4rem;
    --font-size-small: 1rem;
    --border-radius: 8px;
}

/* ========================= */
/* Estilos Globais */
/* ========================= */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1;
}


.barra-azul {
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

.barra-azul-2 {
    width: 20%;
    height: 5px;
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.nav-link {
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--text-color) !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

#mainCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
}

.carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#project-details {
    display: none;
    background-color: var(--white);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

#project-details .close-btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-small);
}

footer p {
    margin: 0;
}